#services .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#services .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#services .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* tablet */

@media (max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 140px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}

/* Smartphones */
@media (max-width: 500px) {
  #navbar {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar .logo img {
    width: 100%;
    display: none;
  }

  #navbar ul.menu-burguer-container {
    position: absolute;
    font-size: 1rem;
    display: flex;
    /* flex-direction: column; */
    gap: 0;
    top: -45vh;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.8); */
    width: 100%;
    height: 100vh;
    /* display: none; */
  }
#navbar ul label #theme{
 font-size: 1rem;
 padding: 0.1rem;
}
#navbar ul label #theme option{
 font-size: 1rem;
}
  #navbar ul li {
    padding-blocK: 0.4rem;
  }

  #navbar .menu-burguer {
    display: none;
  }

  #navbar label {
    font-size: 1.7rem;
  }

  #navbar option {
    font-size: 1rem;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    top: 100px;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #about {
    display: block;
  }

  #about .about-img {
    display: none;
  }

  #clients .items img {
    width: 100%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
    border-top: 4px solid #333;
  }

  footer .footer-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .footer-content div h2,
  footer .footer-content div ul li,
  footer .footer-content div p {
    text-align: center;
  }

  .wa-me {
    position: fixed;
    top: 80vh;
  }

}

@media (max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 140px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }
}